@import 'utils';
.auth-container {
    @include centerFlex;
    flex-direction: column;
    margin: 9px auto;
}

.auth-header-container {
    margin: 18px;
}

.auth-header {
    font-size: 1.4rem;
}

.auth-input {
    padding: 9px 27px;
    border-radius: 9px;
    border: 3px solid $dark;
    font-size: 1.2rem;
    margin: 18px;
}