@import 'utils';
.back-btn {
    text-decoration: none;
    position: fixed;
    top: 22px;
    left: 0;
    z-index: 4;
    border: 4px solid $dark;
    border-radius: 8px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    font-size: 1.4rem;
    font-weight: 400;
    color: $dark;
    padding: 4px;
    margin-left: 27px;
    transition: $eio;
    &:hover {
        background: $dark;
        color: #fff;
        transition: $eio;
    }
    &:active {
        background: $dark;
        color: #fff;
        transition: $eio;
    }
}