//mixins
@mixin wh100 {
    width: 100%;
    height: 100%;
}

@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin grid1 {
    display: grid;
    grid-template-columns: 1fr;
}

@mixin grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@mixin grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

//transitions
$e: all 0.2s ease;
$ei: all 0.2s ease-in;
$eio: all 0.2s ease-in-out;
//color
$orange: #ffbb38;
$red: #ff5959;
$blue: #8cd6ff;
$dark: #131313;
$light: #d9d9d9;
//fonts
$js: 'Josefin Sans',
sans-serif;