@import 'utils';
*::before,
*::after,
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    @include wh100;
    background: $light;
    font-family: $robmon;
    overflow-x: hidden;
}

.app-container {
    @include wh100;
    @include grid1;
    background: $light;
    font-family: $robmon;
}

@import 'Header';
@import 'Explorer';
@import 'BackBtn';
@import 'CurrencySelector';
@import 'CalculatorSet';
@import 'Calculator';
@import 'GoTo';
@import 'Solution';
@import 'Input';
@import 'ACBtn';
@import 'SolveBtn';
@import 'Tablet';
@import 'Mobile';